@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

.notification{
  border: 1px solid #974939;
  background-color: rgba(151, 73, 57, 0.1);
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: slidein 600ms ease-in-out;
}

@keyframes slidein{
  0%{
    transform: translateX(200%);
  }
  100%{
    transform: translateX(0%);
  }
}

@keyframes slideout{
  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(200%);
  }
}

.content{
  word-break: break-all;
  color: white;
  font-family: "Roboto";
}

.closeimg{
  margin-left: 5px;
  width: 12px;
  cursor: pointer;
}