@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

.notification{
  background:linear-gradient(to right, rgb(22, 33, 53),rgb(46, 21, 18));
  /* background-color: rgb(10, 10, 10); */
  box-shadow: 3px 3px 3px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: slidein 600ms ease-in-out;
}

@keyframes slidein{
  0%{
    transform: translateX(200%);
  }
  100%{
    transform: translateX(0%);
  }
}

@keyframes slideout{
  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(200%);
  }
}

.content{
  word-break: break-all;
  color: white;
  font-family: "Roboto";
}

.closeimg{
  margin-left: 5px;
  width: 12px;
  cursor: pointer;
}