@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

.notifications{
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: "Fira Code";

  background-color: rgb(24, 24, 24);
  color: rgb(136, 135, 135);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 2px crimson;
  
}
