.user{
  margin-top: 5px;
  padding: 10px;
  display: flex;
}

.first{
  display: flex;
  justify-content: center;
}

.profile{
  margin-top: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 99999999px;
  background: linear-gradient(-315deg, #34073d, #974939);
  color: whitesmoke;
}

.head{
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.sender{
  color:gold;
}

.usersender{
  color: cornflowerblue;
}

.time{
  margin-left: 10px;
  font-size: 12px;
}

.msg{
  margin-left: 10px;
  color: #adadad;
}

