.msgcontainer{
  padding:0px 10px;
}

.user{
  margin: 10px 0px 10px auto;
  text-align: right;
  border-radius: 20px 25px 0px 20px;
  border: 1px solid #440a50;
}


.friend{
  margin: 10px auto 10px 0px;
  text-align: left;
  border-radius: 25px 20px 20px 0px;
  border: 1px solid #5a2920;
}

.user,.friend{
  font-weight: 500;
  word-break: break-all;
  color: rgb(158, 158, 158);
  max-width: 70%;
  width: max-content;
  font-size: 14px;
  padding: 5px 10px;
}