.msgcontainer{
  padding:0px 10px;
}

.user{
  margin: 10px 0px 10px auto;
  text-align: right;
}


.friend{
  margin: 10px auto 10px 0px;
  text-align: left;
}

.user,.friend{
  font-weight: 500;
  color: rgb(158, 158, 158);
  max-width: 70%;
  width: max-content;
  font-size: 14px;
  padding: 5px 10px;

    background-color: rgb(27, 27, 27);
    border-radius: 5px;
}