@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

.herocontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.heroimg{
  width:60%;
  min-width: 150px
}

.text{
  font-family: 'Caveat', cursive;
  font-size: 30px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  overflow: hidden;
}

