@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
.herocontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.text{
  font-family: 'Allura', cursive;
  font-size: 60px;
  color: rgb(102, 0, 128);
  font-weight: bold;
}

.span{
  text-shadow: 3px 3px 3px rgb(50, 50, 50);
  color: goldenrod;
}