.container{
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.input{
  display: block;
  width: 95%;
  margin: 5px auto;
  outline: none;
  border: 1px solid#1C1E1F;
  border-radius: 99999999px;
  padding: 14px;
  font-family: "Fira Code";
  background-color: #0f0f0f;
  color: rgb(182, 182, 182);
}

.input:focus{
  border: 1px solid #34073d;
}

.create_group{
  display: block;
  outline: none;
  border: none;
  color: whitesmoke;
  background: linear-gradient(-315deg, #34073d, #974939);
  border-radius: 9999999px;
  padding: 10px 0px;
  font-family: "Fira Code";
  width: 95%;
  margin: auto;
  cursor: pointer;
}

.create_group:active{
  background-color: cornflowerblue;
  color: black;
  font-weight: bold;
}

.groups{
  overflow-x: hidden;
  overflow-y: auto;
  flex: 1;
  padding: 10px;
}

.feedback{
  text-align: center;
  color: rgb(199, 33, 66);
  font-family: "Fira Code";
  margin-top: 10px;
}

.group{
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  padding: 10px;
  margin: 5px 0px;
  border-radius: 99999999px;
}

.group:hover {
  background-color: rgb(20, 20, 20);
  transition: all 0.2s ease-in;
}
.profileimg{
  background: linear-gradient(-315deg, #34073d, #974939);
    color: whitesmoke;
  font-family: "Fira Code";
  font-weight: 400;
  border-radius: 50%;
  min-width: 30px;
  min-height: 30px;
  display: grid;
  place-items: center;
}

.groupname{
  font-family: "Fira Code";
  color: rgb(182, 182, 182);
  padding-left: 10px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
