.friends{
  display: flex;
  position: relative;
}

.listOfFriends{
  width: 300px;
  height: 100vh;
  overflow-y: auto;
  min-height: 200px;
  background-color: rgb(14, 14, 14);
}

.listOfFriendsActive{
  background-color: rgb(14, 14, 14);
  width: 300px;
  height: 100vh;
  overflow-y: auto;
  min-height: 200px;
}

.friendChat{
  flex: 1;
  overflow: auto;
}

.listOfFriends::-webkit-scrollbar{
  width: 0px;
}


@media screen and (max-width:1000px){

  .listOfFriends{
    position: absolute;
    transform: translateX(-100%);
    z-index: 1;
    background-color: rgb(14, 14, 14);
    transition: transform 0.5s ease-out;
    width: 80%;
    height: 100vh;
    overflow-y: auto;
    min-height: 200px;
  }
  
  .listOfFriendsActive{
    position: absolute;
    transform: translateX(0%);
    z-index: 1;
    background-color: rgb(14, 14, 14);
    transition: transform 0.5s ease-out;
    width: 80%;
    height: 100vh;
    overflow-y: auto;
    min-height: 200px;
  }
  
}