.friends{
  display: flex;
  position: relative;
}

.listOfFriends{
  min-width: 300px;
  border-right: 1px solid rgb(49, 49, 49);
  height: 100vh;
  overflow-y: auto;
  min-height: 200px;
}

.listOfFriendsActive{
  min-width: 300px;
  border-right: 1px solid rgb(49, 49, 49);
  height: 100vh;
  overflow-y: auto;
  min-height: 200px;
}

.friendChat{
  flex: 1;
  overflow: auto;
}

.listOfFriends::-webkit-scrollbar{
  width: 0px;
}

.burger{
  display: none;
}

@media screen and (max-width:1000px){
  .burger{
    display: block;
    font-family: "Fira Code";
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgb(77, 75, 75);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
  }

  .burgerimg{
    width: 25px;
    height: 25px;
  }

  .listOfFriends{
    position: absolute;
    transform: translateX(-100%);
    z-index: 1;
    background-color: rgb(17, 17, 17);
    transition: transform 0.5s ease-out;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    min-height: 200px;
    border-right: 1px solid rgb(49, 49, 49);
  }
  
  .listOfFriendsActive{
    position: absolute;
    transform: translateX(0%);
    z-index: 1;
    background-color: rgb(17, 17, 17);
    transition: transform 0.5s ease-out;
    width: 100%;
    border-right: 1px solid rgb(49, 49, 49);
    height: 100vh;
    overflow-y: auto;
    min-height: 200px;
  }
  
}