.sidebar {
  background-color: rgb(40, 40, 40);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.categories {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.activecategory,
.category {
  background: transparent;
  border: none;
  cursor: pointer;
}

.actions {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logout {
  background: transparent;
  border: none;
}

.logout {
  cursor: pointer;
}
