.sidebar{
  background-color: #1C1E1F;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
  padding: 10px;
  width: 50px;
}

.category1,.category2,.category3{
  margin: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activecategory{
  margin: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category1img,.logoutimg{
  width: 20px;
  cursor: pointer;
} 

.category2img{
  width: 22px;
  cursor: pointer;
}

.category3img{
  width: 20px;
  cursor: pointer;
}

.logout{
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.logout:hover{
  background-color: crimson;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
}