.inputcontainer {
  margin: 3px 5px;
}

.input {
  width: 100%;
  outline: none;
  border-radius: 9999999px;
  padding: 14px;
  font-family: "Fira Code";
  background-color: rgb(12, 12, 12);
  color: rgb(182, 182, 182);
  border: none;
}