@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

.login {
  display: flex;
  margin-top: 50px;
}

.first {
  display: flex;
  justify-content: center;
  align-items: center;
}

.authen2 {
  width: 80%;
}

.second {
  width: 100%;
}

.form{
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 200px;
}

.username,.email,.password{
    outline: none;
    border: none;
    padding: 10px 12px;
    border-radius: 999999px;
    font-family: 'Fira Code', monospace;
    background-color: rgb(19, 18, 18);
    color: whitesmoke;
    width: 100%;
    border: 1px solid rgb(19, 18, 18);
}

.username:focus,.password:focus{
  border: 1px solid rgb(43, 42, 42);
}

.submit{
  width: max-content;
    padding: 8px 14px;
    outline: none;
    border: none;
    border-radius: 9999999px;
    font-family: "Fira Code";
    background: linear-gradient(315deg, purple, rgb(138, 69, 62));
    cursor: pointer;
    color: rgb(175, 177, 179);
}

.feedback{
  text-align: center;
  font-family: "Fira Code";
  margin: 10px 0px;
  color: cornflowerblue;
}

@media only screen and (max-width: 900px) {
  .first {
    display: none;
  }

  .second {
    width: 95%;
    margin: auto;
  }

}