@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

.auth{
  background-color: rgb(26, 26, 27);
  color: whitesmoke;
  min-height: 100vh;
}

.authtitle{
  text-align: center;
  font-size: 40px;
  padding: 20px 0px;
  font-family: cursive;
  background: linear-gradient(15deg, purple, salmon);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Allura', cursive;
  font-weight: bold;
}

.tabs{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.tab{
  font-family: "Fira Code";
  font-size: 14px;
  cursor: pointer;
  padding: 6px 14px;
  border: 1px solid grey;
  border-radius: 9999999px;
  color: grey;
}

.tabactive{
  padding: 6px 14px;
  font-family: "Fira Code";
  font-size: 14px;
  cursor: pointer;
  color: rgb(235, 235, 235);
  border-radius: 9999999px;
  background: linear-gradient(315deg, purple, rgb(138, 69, 62));
}