.chat{
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Fira Code";
  min-height: 200px;
  /* width: 100%; */
}

.banner{
  display: flex;
  align-items: center;
  background-color: rgb(22, 22, 22);
  padding: 14px;
  border-bottom: 1px solid rgb(54, 54, 54);
}

.profileimg{
  font-family: "Fira Code";
  background-color: #0f0f0f;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgb(54, 54, 54);
}

.username {
  font-family: "Fira Code";
  padding: 0px 10px;
  color: rgb(182, 182, 182);
}

.messages{
  overflow-y: scroll;
  overflow-x: hidden;
  flex: 1;
  color: rgb(126, 126, 126);
}

.inputcontainer{
  position: relative;
  margin: 0px 5px;
}

.input{
  width: 100%;
  outline: none;
  border: 1px solid#6d6f70;
  border-radius: 9999999px;
  padding: 14px;
  font-family: "Fira Code Medium";
  background-color: #141414;
  color: rgb(182, 182, 182);
}

.search{
  display: block;
  width: 15px;
  position: absolute;
  top: 15px;
  right: 15px;
  transform: rotate(-40deg);
}