.chat{
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Fira Code";
  min-height: 200px;
  position: relative;
  background-color: rgb(20, 20, 20);
}

.mainbanner{
  background:linear-gradient(-315deg, #34073d,#531b0f);
  padding: 14px;
  display: flex;
  align-items: center;
}

.banner{
  display: flex;
  align-items: center;
}

.back{
  margin-right: 10px;
  cursor: pointer;
}

.backpng{
  width: 30px;
  display: block;
  margin: auto;
}

.profileimg{
  font-family: "Fira Code";
  background-color: #0f0f0f;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: rgb(182, 173, 173);
}

.username {
  font-family: "Fira Code";
  padding: 0px 10px;
  color: rgb(182, 182, 182);
}

.messages{
  overflow-y: scroll;
  overflow-x: hidden;
  flex: 1;
  color: rgb(126, 126, 126);
  padding: 0px 8px;
}



.inputcontainer{
  position: relative;
  margin: 3px 5px;
}

.input{
  width: 100%;
  outline: none;
  border-radius: 9999999px;
  padding: 14px;
  font-family: "Fira Code Medium";
  background-color: rgb(12, 12, 12);
  color: rgb(182, 182, 182);
  border: none;
}

.search{
  display: block;
  width: 15px;
  position: absolute;
  top: 15px;
  right: 15px;
  transform: rotate(-40deg);
}