.container{
  position: relative;
}

.inputcontainer{
  width: 95%;
  display: block;
  margin: auto;
  margin-top: 5px;
}

.input{
  border-radius: 5px;
  width: 100%;
  outline: none;
  border: 1px solid#3d3d3d;
  padding: 14px;
  font-family: "Fira Code";
  background-color: #0f0f0f;
  color: rgb(182, 182, 182);
}

.input:focus {
  border: 1px solid rgb(66, 98, 158);
}

.friends{
  padding: 10px;
}

.friend{
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 99999999px;
  margin: 5px 0px;
}

.friend:hover{
  background-color: rgb(20, 20, 20);
  transition: all 0.2s ease-in;
}

.profileimg{
  font-family: "Fira Code";
  background: linear-gradient(-315deg, #34073d, #974939);
  min-width: 30px;
  min-height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: whitesmoke;
}

.usernameContainer{
  font-family: "Fira Code";
  padding: 0px 10px;
  color: rgb(182, 182, 182);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.username {
  font-family: "Fira Code";
  color: rgb(182, 182, 182);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lastMsg{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}

.closeContainer{
  display: none;
}
